/* screen - macbook-pro-16-1 */

.macbook-pro-16-1 {
  background-color: var(--white);
  border: 1px none;
  height: 1117px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1728px;
}

.macbook-pro-16-1 .rectangle-3-M8SSUb {
  background-color: #4757e7;
  border-radius: 15px;
  height: 52px;
  left: 27px;
  mix-blend-mode: normal;
  position: absolute;
  top: 147px;
  width: 204px;
}

.macbook-pro-16-1 .rectangle-1-M8SSUb {
  background-color: #d9d9d9;
  height: 1117px;
  left: 259px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 2px;
}

.macbook-pro-16-1 .dashboard-M8SSUb {
  left: 323px;
  top: 45px;
}

.macbook-pro-16-1 .span-9e9Nyf {
}

.macbook-pro-16-1 .alex-mora-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1416px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: auto;
}

.macbook-pro-16-1 .span-CjUUuR {
}

.macbook-pro-16-1 .super-admin-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1416px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 60px;
  width: auto;
}

.macbook-pro-16-1 .span-8lVBRQ {
}

.macbook-pro-16-1 .dashboard-NbxieS {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  left: 85px;
  top: 157px;
}

.macbook-pro-16-1 .span-pAKIt6 {
  font-style: normal;
}

.macbook-pro-16-1 .statistics-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 240px;
  width: auto;
}

.macbook-pro-16-1 .span-OnPORp {
}

.macbook-pro-16-1 .payment-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 323px;
  width: auto;
}

.macbook-pro-16-1 .span-QI0YuM {
}

.macbook-pro-16-1 .transactions-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 406px;
  width: auto;
}

.macbook-pro-16-1 .span-Hi5rYx {
}

.macbook-pro-16-1 .products-M8SSUb {
  left: 85px;
  top: 489px;
}

.macbook-pro-16-1 .span-KFYTT0 {
}

.macbook-pro-16-1 .customer-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 567px;
  width: auto;
}

.macbook-pro-16-1 .span-sWFlQG {
}

.macbook-pro-16-1 .messages-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 641px;
  width: auto;
}

.macbook-pro-16-1 .span-tbCfoR {
}

.macbook-pro-16-1 .settings-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 941px;
  width: auto;
}

.macbook-pro-16-1 .span-5eBql3 {
}

.macbook-pro-16-1 .logout-M8SSUb {
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  text-align: left;
  top: 1003px;
  width: auto;
}

.macbook-pro-16-1 .span-IkWERH {
}

.macbook-pro-16-1 .gogana-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 45px;
  width: auto;
}

.macbook-pro-16-1 .span-5063lc {
}

.macbook-pro-16-1 .rectangle-2-M8SSUb {
  background-color: #d9d9d9;
  height: 1728px;
  left: 863px;
  mix-blend-mode: normal;
  position: absolute;
  top: -767px;
  transform: rotate(1.57deg);
  width: 2px;
}

.macbook-pro-16-1 .content-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 158px;
  width: 30px;
}

.macbook-pro-16-1 .exchange-money-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 406px;
  width: 30px;
}

.macbook-pro-16-1 .icon-settings-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 942px;
  width: 30px;
}

.macbook-pro-16-1 .group-1-M8SSUb {
  background-color: transparent;
  height: 65px;
  left: 619px;
  position: absolute;
  top: 23px;
  width: 608px;
}

.macbook-pro-16-1 .rectangle-4-oeljBW {
  background-color: #dad7d73b;
  border-radius: 25px;
  height: 65px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 606px;
}

.macbook-pro-16-1 .search-here-oeljBW {
  background-color: transparent;
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 78px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  width: auto;
}

.macbook-pro-16-1 .span-vpVw7x {
  font-style: normal;
}

.macbook-pro-16-1 .icon-search-oeljBW {
  background-color: transparent;
  height: 30px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 30px;
}

.macbook-pro-16-1 .ellipse-1-M8SSUb {
  background-color: var(--white);
  border-radius: 25px;
  height: 50px;
  left: 1324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 32px;
  width: 50px;
}

.macbook-pro-16-1 .group-2-M8SSUb {
  background-color: transparent;
  height: 156px;
  left: 323px;
  position: absolute;
  top: 132px;
  width: 414px;
}

.macbook-pro-16-1 .rectangle-5-etwbJu {
  left: 0px;
}

.macbook-pro-16-1 .todays-sales-etwbJu {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-16-1 .span-NrND3Y {
}

.macbook-pro-16-1 .title-etwbJu {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.macbook-pro-16-1 .span-pu9ae4 {
}

.macbook-pro-16-1 .we-have-sold-123-items-etwbJu {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: auto;
}

.macbook-pro-16-1 .span-csgKvC {
}

.macbook-pro-16-1 .ellipse-2-etwbJu {
  left: 277px;
}

.macbook-pro-16-1 .x75-etwbJu {
  background-color: transparent;
  height: auto;
  left: 303px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.macbook-pro-16-1 .span-00tP1M {
}

.macbook-pro-16-1 .rectangle-6-M8SSUb {
  left: 323px;
  top: 332px;
  width: 855px;
}

.macbook-pro-16-1 .rectangle-7-M8SSUb {
  background-color: var(--white);
  border-radius: 15px;
  height: 429px;
  left: 279px;
  mix-blend-mode: normal;
  position: absolute;
  top: 688px;
  width: 1359px;
}

.macbook-pro-16-1 .group-3-M8SSUb {
  background-color: transparent;
  height: 501px;
  left: 340px;
  position: absolute;
  top: 132px;
  width: 882px;
}

.macbook-pro-16-1 .rectangle-5-4m9AwD {
  left: 432px;
}

.macbook-pro-16-1 .x504k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 240px;
  width: auto;
}

.macbook-pro-16-1 .span-KuvV5G {
}

.macbook-pro-16-1 .x8-than-last-month-4m9AwD {
  background-color: transparent;
  color: #007220;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 113px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 246px;
  width: auto;
}

.macbook-pro-16-1 .span-LYf0xx {
  font-style: normal;
}

.macbook-pro-16-1 .todays-revenue-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 449px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-16-1 .span-2mIg5x {
}

.macbook-pro-16-1 .total-revenue-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 209px;
  width: auto;
}

.macbook-pro-16-1 .span-HjfH4X {
}

.macbook-pro-16-1 .jan-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 64px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-dcPA0m {
}

.macbook-pro-16-1 .x0-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 446px;
  width: auto;
}

.macbook-pro-16-1 .span-fIsqxH {
}

.macbook-pro-16-1 .x20k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 417px;
  width: auto;
}

.macbook-pro-16-1 .span-Yvty02 {
}

.macbook-pro-16-1 .x50k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 380px;
  width: auto;
}

.macbook-pro-16-1 .span-6OwduS {
}

.macbook-pro-16-1 .x60k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 16px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 345px;
  width: auto;
}

.macbook-pro-16-1 .span-K4PxCx {
}

.macbook-pro-16-1 .x80k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 314px;
  width: auto;
}

.macbook-pro-16-1 .span-fvXZsf {
}

.macbook-pro-16-1 .x100k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 282px;
  width: auto;
}

.macbook-pro-16-1 .span-j8jy1o {
}

.macbook-pro-16-1 .feb-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 152px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-8c3Eux {
}

.macbook-pro-16-1 .mar-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 248px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-ZGYDlx {
}

.macbook-pro-16-1 .apr-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 337px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-z6rXCu {
}

.macbook-pro-16-1 .may-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 425px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-ZbS2PI {
}

.macbook-pro-16-1 .jun-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 508px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-CnSVmw {
}

.macbook-pro-16-1 .jul-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 599px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-Lht5al {
}

.macbook-pro-16-1 .aug-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 677px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-ax12g0 {
}

.macbook-pro-16-1 .sep-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 769px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 476px;
  width: auto;
}

.macbook-pro-16-1 .span-vDdQoU {
}

.macbook-pro-16-1 .x82k-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 449px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.macbook-pro-16-1 .span-fxKy3c {
}

.macbook-pro-16-1 .available-to-payout-4m9AwD {
  left: 449px;
}

.macbook-pro-16-1 .span-9YzNwm {
}

.macbook-pro-16-1 .ellipse-2-4m9AwD {
  left: 709px;
}

.macbook-pro-16-1 .x80-4m9AwD {
  background-color: transparent;
  height: auto;
  left: 735px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.macbook-pro-16-1 .span-IJfXxL {
}

.macbook-pro-16-1 .group-4-M8SSUb {
  background-color: transparent;
  height: 510px;
  left: 1232px;
  position: absolute;
  top: 132px;
  width: 414px;
}

.macbook-pro-16-1 .rectangle-5-IR14Ii {
  left: 0px;
}

.macbook-pro-16-1 .rectangle-6-IR14Ii {
  left: 17px;
  top: 200px;
  width: 389px;
}

.macbook-pro-16-1 .in-escrow-IR14Ii {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.macbook-pro-16-1 .span-xWBoaM {
}

.macbook-pro-16-1 .x182k-IR14Ii {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.macbook-pro-16-1 .span-2s2EEc {
}

.macbook-pro-16-1 .available-to-payout-IR14Ii {
  left: 17px;
}

.macbook-pro-16-1 .span-OxorTj {
}

.macbook-pro-16-1 .ellipse-2-IR14Ii {
  left: 277px;
}

.macbook-pro-16-1 .x60-IR14Ii {
  background-color: transparent;
  height: auto;
  left: 303px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: auto;
}

.macbook-pro-16-1 .span-zW6P87 {
}

.macbook-pro-16-1 .group-13-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 409px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-8-3yUQxp {
  background-color: var(--alto);
  border-radius: 7px;
  height: 175px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-9-3yUQxp {
  background-color: var(--royal-blue);
  border-radius: 7px;
  height: 46px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 131px;
  width: 24px;
}

.macbook-pro-16-1 .group-6-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 501px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-Gci13q {
  height: 114px;
  top: 63px;
}

.macbook-pro-16-1 .group-7-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 593px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-l24dvW {
  height: 59px;
  top: 118px;
}

.macbook-pro-16-1 .group-8-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 683px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-qZKVwY {
  height: 82px;
  top: 95px;
}

.macbook-pro-16-1 .group-9-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 853px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-SUqU6w {
  height: 46px;
  top: 131px;
}

.macbook-pro-16-1 .group-14-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 771px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-ed8Mvx {
  height: 114px;
  top: 63px;
}

.macbook-pro-16-1 .group-10-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 940px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-qWjk4D {
  height: 82px;
  top: 95px;
}

.macbook-pro-16-1 .group-11-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 1025px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-s97SvD {
  height: 67px;
  top: 110px;
}

.macbook-pro-16-1 .group-12-M8SSUb {
  background-color: transparent;
  border-radius: 7px;
  height: 177px;
  left: 1110px;
  position: absolute;
  top: 419px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11-T953yh {
  height: 67px;
  top: 110px;
}

.macbook-pro-16-1 .rectangle-12-M8SSUb {
  background-color: #e5e5e569;
  border-radius: 10px;
  height: 37px;
  left: 1005px;
  mix-blend-mode: normal;
  position: absolute;
  top: 342px;
  width: 154px;
}

.macbook-pro-16-1 .rectangle-13-M8SSUb {
  background-color: var(--royal-blue);
  border-radius: 10px;
  height: 37px;
  left: 1465px;
  mix-blend-mode: normal;
  position: absolute;
  top: 707px;
  width: 154px;
}

.macbook-pro-16-1 .view-all-orders-M8SSUb {
  left: 1014px;
  top: 346px;
}

.macbook-pro-16-1 .span-U3EGJT {
}

.macbook-pro-16-1 .view-all-orders-NbxieS {
  color: #fffcfc;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  left: 1474px;
  top: 712px;
}

.macbook-pro-16-1 .span-Srd4Xs {
  font-style: normal;
}

.macbook-pro-16-1 .most-sold-items-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1259px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 344px;
  width: auto;
}

.macbook-pro-16-1 .span-OZaM5m {
}

.macbook-pro-16-1 .jeans-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1559px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 384px;
  width: auto;
}

.macbook-pro-16-1 .span-CMjAdy {
}

.macbook-pro-16-1 .shirts-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1559px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 435px;
  width: auto;
}

.macbook-pro-16-1 .span-UJaoxK {
}

.macbook-pro-16-1 .caps-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1559px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 478px;
  width: auto;
}

.macbook-pro-16-1 .span-kJrPiH {
}

.macbook-pro-16-1 .others-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1559px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 522px;
  width: auto;
}

.macbook-pro-16-1 .span-aLOwX6 {
}

.macbook-pro-16-1 .ellipse-3-M8SSUb {
  background-color: var(--royal-blue);
  border-radius: 7px;
  height: 14px;
  left: 1532px;
  mix-blend-mode: normal;
  position: absolute;
  top: 389px;
  width: 14px;
}

.macbook-pro-16-1 .ellipse-4-M8SSUb {
  background-color: #99c7a6;
  border-radius: 7px;
  height: 14px;
  left: 1532px;
  mix-blend-mode: normal;
  position: absolute;
  top: 439px;
  width: 14px;
}

.macbook-pro-16-1 .ellipse-5-M8SSUb {
  background-color: #9ab0ff;
  border-radius: 7px;
  height: 14px;
  left: 1532px;
  mix-blend-mode: normal;
  position: absolute;
  top: 483px;
  width: 14px;
}

.macbook-pro-16-1 .ellipse-6-M8SSUb {
  background-color: #f3ceac;
  border-radius: 7px;
  height: 14px;
  left: 1532px;
  mix-blend-mode: normal;
  position: absolute;
  top: 527px;
  width: 14px;
}

.macbook-pro-16-1 .latest-orders-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 338px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 708px;
  width: auto;
}

.macbook-pro-16-1 .span-kU92Kc {
}

.macbook-pro-16-1 .data-updates-every-3-hours-M8SSUb {
  font-size: 14px;
  left: 801px;
  top: 349px;
}

.macbook-pro-16-1 .span-Vvu9m5 {
  font-style: normal;
}

.macbook-pro-16-1 .data-updates-every-3-hours-NbxieS {
  font-size: 15px;
  left: 1257px;
  top: 714px;
}

.macbook-pro-16-1 .span-WxVwdR {
  font-style: normal;
}

.macbook-pro-16-1 .group-15-M8SSUb {
  background-color: transparent;
  height: 47px;
  left: 323px;
  position: absolute;
  top: 760px;
  width: 1329px;
}

.macbook-pro-16-1 .rectangle-14-Pb8WVl {
  background-color: #d9d9d93b;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1315px;
}

.macbook-pro-16-1 .products-Pb8WVl {
  left: 17px;
  top: 11px;
}

.macbook-pro-16-1 .span-yycsxI {
}

.macbook-pro-16-1 .order-id-Pb8WVl {
  background-color: transparent;
  height: auto;
  left: 253px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-ZetriN {
}

.macbook-pro-16-1 .date-Pb8WVl {
  background-color: transparent;
  height: auto;
  left: 443px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-scTLMk {
}

.macbook-pro-16-1 .customer-name-Pb8WVl {
  background-color: transparent;
  height: auto;
  left: 594px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-wH30Nx {
}

.macbook-pro-16-1 .status-Pb8WVl {
  background-color: transparent;
  height: auto;
  left: 857px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-sfUK5U {
}

.macbook-pro-16-1 .amount-Pb8WVl {
  background-color: transparent;
  height: auto;
  left: 1032px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-NM94QW {
}

.macbook-pro-16-1 .action-Pb8WVl {
  background-color: transparent;
  height: auto;
  left: 1223px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-kx5bju {
}

.macbook-pro-16-1 .iphone-13-pro-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 374px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 832px;
  width: auto;
}

.macbook-pro-16-1 .span-n1xN4R {
}

.macbook-pro-16-1 .macbook-pro-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 374px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 907px;
  width: auto;
}

.macbook-pro-16-1 .span-PtDCEI {
}

.macbook-pro-16-1 .apple-watch-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 374px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 985px;
  width: auto;
}

.macbook-pro-16-1 .span-cfRSVg {
}

.macbook-pro-16-1 .apple-pen-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 374px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1053px;
  width: auto;
}

.macbook-pro-16-1 .span-IkyxdT {
}

.macbook-pro-16-1 .x11232-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 832px;
  width: auto;
}

.macbook-pro-16-1 .span-irquDf {
}

.macbook-pro-16-1 .x11233-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 907px;
  width: auto;
}

.macbook-pro-16-1 .span-eWvk4p {
}

.macbook-pro-16-1 .x11234-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 985px;
  width: auto;
}

.macbook-pro-16-1 .span-9BBIEp {
}

.macbook-pro-16-1 .x11235-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 586px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1053px;
  width: auto;
}

.macbook-pro-16-1 .span-3Cr1Q9 {
}

.macbook-pro-16-1 .june-292022-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 731px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 832px;
  width: auto;
}

.macbook-pro-16-1 .span-UhlsLU {
}

.macbook-pro-16-1 .june-282022-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 731px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 907px;
  width: auto;
}

.macbook-pro-16-1 .span-ohfZsx {
}

.macbook-pro-16-1 .june-272022-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 731px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 985px;
  width: auto;
}

.macbook-pro-16-1 .span-LkvphM {
}

.macbook-pro-16-1 .june-262022-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 731px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1053px;
  width: auto;
}

.macbook-pro-16-1 .span-bwKnd7 {
}

.macbook-pro-16-1 .anastasia-hasuna-M8SSUb {
  top: 832px;
}

.macbook-pro-16-1 .span-Ox2sjL {
}

.macbook-pro-16-1 .anastasia-hasuna-NbxieS {
  top: 907px;
}

.macbook-pro-16-1 .span-CnkAC2 {
}

.macbook-pro-16-1 .anastasia-hasuna-ozxRid {
  top: 985px;
}

.macbook-pro-16-1 .span-DWyG6o {
}

.macbook-pro-16-1 .anastasia-hasuna-vslEG8 {
  top: 1053px;
}

.macbook-pro-16-1 .span-4xhzgv {
}

.macbook-pro-16-1 .delievered-M8SSUb {
  top: 832px;
}

.macbook-pro-16-1 .span-HlI2Su {
}

.macbook-pro-16-1 .pending-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1164px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 907px;
  width: auto;
}

.macbook-pro-16-1 .span-BUygb6 {
}

.macbook-pro-16-1 .cancelled-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1164px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 985px;
  width: auto;
}

.macbook-pro-16-1 .span-rWkpPk {
}

.macbook-pro-16-1 .delievered-NbxieS {
  top: 1053px;
}

.macbook-pro-16-1 .span-y7TNgf {
}

.macbook-pro-16-1 .x110000-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1357px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 832px;
  width: auto;
}

.macbook-pro-16-1 .span-3QTxRW {
}

.macbook-pro-16-1 .x120000-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1357px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 907px;
  width: auto;
}

.macbook-pro-16-1 .span-SPZDkd {
}

.macbook-pro-16-1 .x40000-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1357px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 985px;
  width: auto;
}

.macbook-pro-16-1 .span-wXx3rK {
}

.macbook-pro-16-1 .x20000-M8SSUb {
  background-color: transparent;
  height: auto;
  left: 1357px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1053px;
  width: auto;
}

.macbook-pro-16-1 .span-KDxboH {
}

.macbook-pro-16-1 .menu-vertical-M8SSUb {
  left: 1561px;
  top: 836px;
}

.macbook-pro-16-1 .menu-vertical-NbxieS {
  left: 1561px;
  top: 911px;
}

.macbook-pro-16-1 .menu-vertical-ozxRid {
  left: 1561px;
  top: 989px;
}

.macbook-pro-16-1 .menu-vertical-vslEG8 {
  left: 1561px;
  top: 1057px;
}

.macbook-pro-16-1 .mask-group-M8SSUb {
  height: 72px;
  left: 1560px;
  top: 17px;
  width: 72px;
}

.macbook-pro-16-1 .mask-group-NbxieS {
  height: 54px;
  left: 308px;
  top: 970px;
  width: 54px;
}

.macbook-pro-16-1 .mask-group-ozxRid {
  height: 54px;
  left: 308px;
  top: 894px;
  width: 54px;
}

.macbook-pro-16-1 .mask-group-vslEG8 {
  height: 54px;
  left: 308px;
  top: 817px;
  width: 54px;
}

.macbook-pro-16-1 .mask-group-6nmlve {
  height: 54px;
  left: 308px;
  top: 1042px;
  width: 54px;
}

.macbook-pro-16-1 .group-16-M8SSUb {
  background-color: transparent;
  height: 33px;
  left: 1580px;
  position: absolute;
  top: 342px;
  width: 33px;
}

.macbook-pro-16-1 .menu-vertical-ZE9g8c {
  left: 1px;
  top: 3px;
}

.macbook-pro-16-1 .rectangle-15-ZE9g8c {
  background-color: var(--white);
  border-radius: 5px;
  height: 33px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 33px;
}

.macbook-pro-16-1 .us-dollar-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 321px;
  width: 30px;
}

.macbook-pro-16-1 .analytics-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 241px;
  width: 30px;
}

.macbook-pro-16-1 .fast-moving-consumer-goods-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 489px;
  width: 30px;
}

.macbook-pro-16-1 .icon-user-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 565px;
  width: 30px;
}

.macbook-pro-16-1 .icon-mail-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 640px;
  width: 30px;
}

.macbook-pro-16-1 .logout-NbxieS {
  height: 30px;
  left: 44px;
  top: 1006px;
  width: 30px;
}

.macbook-pro-16-1 .icon-notifications-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 1335px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 30px;
}

.macbook-pro-16-1 .synchronize-M8SSUb {
  background-color: transparent;
  height: 30px;
  left: 44px;
  mix-blend-mode: normal;
  position: absolute;
  top: 47px;
  width: 30px;
}

.macbook-pro-16-1 .graphic-M8SSUb {
  left: 1290px;
  top: 432px;
  width: 167px;
}

.macbook-pro-16-1 .graphic-wjSbBh {
  left: 0px;
  top: 0px;
  width: 157px;
}

.macbook-pro-16-1 .subtract-gfriBm {
  height: 71px;
  left: 0px;
  top: 20px;
  width: 43px;
}

.macbook-pro-16-1 .subtract-3rec1F {
  height: 37px;
  left: 26px;
  top: 0px;
  width: 54px;
}

.macbook-pro-16-1 .subtract-cGJiLF {
  height: 52px;
  left: 83px;
  top: 1px;
  width: 58px;
}

.macbook-pro-16-1 .subtract-sxXyh8 {
  height: 58px;
  left: 3px;
  top: 89px;
  width: 124px;
}

.macbook-pro-16-1 .subtract-VICBsH {
  height: 91px;
  left: 108px;
  top: 41px;
  width: 49px;
}

.macbook-pro-16-1 .x35-wjSbBh {
  background-color: transparent;
  height: auto;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 121px;
  width: auto;
}

.macbook-pro-16-1 .span-XQ7xUe {
}

.macbook-pro-16-1 .x25-wjSbBh {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 77px;
  width: auto;
}

.macbook-pro-16-1 .span-6PRPHh {
}

.macbook-pro-16-1 .x11-wjSbBh {
  background-color: transparent;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.macbook-pro-16-1 .span-ze7vXi {
}

.macbook-pro-16-1 .x12-wjSbBh {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 20px;
  width: auto;
}

.macbook-pro-16-1 .span-7NTdZx {
}

.macbook-pro-16-1 .x17-wjSbBh {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: auto;
}

.macbook-pro-16-1 .span-f8Uv2K {
}

.macbook-pro-16-1 .anastasia-hasuna {
  background-color: transparent;
  height: auto;
  left: 923px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.macbook-pro-16-1 .available-to-payout {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: auto;
}

.macbook-pro-16-1 .dashboard {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.macbook-pro-16-1 .data-updates-every-3-hours {
  background-color: transparent;
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.macbook-pro-16-1 .delievered {
  background-color: transparent;
  height: auto;
  left: 1164px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.macbook-pro-16-1 .ellipse-2 {
  background-color: transparent;
  height: 110px;
  mix-blend-mode: normal;
  position: absolute;
  top: 21px;
  width: 110px;
}

.macbook-pro-16-1 .graphic {
  background-color: transparent;
  height: 147px;
  position: absolute;
}

.macbook-pro-16-1 .logout {
  background-color: transparent;
  mix-blend-mode: normal;
  position: absolute;
}

.macbook-pro-16-1 .mask-group {
  background-color: transparent;
  position: absolute;
}

.macbook-pro-16-1 .menu-vertical {
  background-color: transparent;
  height: 30px;
  mix-blend-mode: normal;
  position: absolute;
  width: 30px;
}

.macbook-pro-16-1 .products {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: auto;
}

.macbook-pro-16-1 .rectangle-10 {
  background-color: var(--alto);
  border-radius: 7px;
  height: 175px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-11 {
  background-color: var(--royal-blue);
  border-radius: 7px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  width: 24px;
}

.macbook-pro-16-1 .rectangle-5 {
  background-color: var(--white);
  border-radius: 15px;
  height: 156px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 406px;
}

.macbook-pro-16-1 .rectangle-6 {
  background-color: var(--white);
  border-radius: 15px;
  height: 310px;
  mix-blend-mode: normal;
  position: absolute;
}

.macbook-pro-16-1 .subtract {
  background-color: transparent;
  mix-blend-mode: normal;
  position: absolute;
}

.macbook-pro-16-1 .view-all-orders {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  width: auto;
}
